{% extends "base.html" %}
{% block content %}
{% load static %}

      <!-- gallery section start -->
      <div class="gallery_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="gallery_taital">Our Category</h1>
                  <p class="gallery_text"><span style="color:purple">KNOWING OUR CUSTOMER NEEDS.</span><br>Maximum design for every occasion.</p>
               </div>
            </div>
         <div>
            <h1 class="just">Scan the QR code</h1>
            <h1 class="ust"><img src="{% static 'images/QR.jpg' %}"></h1>
         </div>
            <div class="">
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Prince</h3>
                           <img src="{% static 'images/prince.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.2000</p>
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Princess</h3>
                           <img src="{% static 'images/princess.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.4000</p>
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Unisex</h3>
                           <img src="{% static 'images/unisex.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.4000</p>
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Women's Casual</h3>
                           <img src="{% static 'images/wcasual.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.3000</p>
                           <div class="overlay">

                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Womens Formal</h3>
                           <img src="{% static 'images/wformal.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.3000</p>
                              <div class="overlay">
                                 <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                              </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Women's Party</h3>
                           <img src="{% static 'images/wparty.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.5000</p>
                              <div class="overlay">
                                 <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="gallery_section_2">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Men's Casual</h3>
                           <img src="{% static 'images/mcasual.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.2000</p>
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">                           
                           <h3 class="momo_name">Men's Formal</h3>
                           <img src="{% static 'images/mformal.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.4000</p>
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="container_main">
                           <h3 class="momo_name">Mens Party</h3>
                           <img src="{% static 'images/mparty.jpg' %}" alt="Avatar" class="image">
                           <p class="card-price">Rs.5000</p>
                           <div class="overlay">
                              <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="seemore_bt"><a href="#">See More</a></div>
         </div>
      </div>
      <!-- gallery section end -->

{% endblock content %}